.body {
    height: 475px;
    width: 900px;
    background-color: aqua;
}

.header{
    display: flex;
    justify-content: space-evenly;
}
/* .container{
    border: solid 1px blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bimg {
    background-size: contain;
    justify-content: center; 
    padding: 80px;
}


.game {
    background-color: aqua;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;    
    text-align: center;
    display: grid;  
    grid-gap: 10px;
    margin: 10px;
    justify-content: center;
}

#a , #b , #c, #d {
    padding: 25px 20px;
} */

#logo{
  float: left;
  height: 140px;
  width: 15%;
  padding: 5px;
}

#banner {
  float: left;
  height: 140px;
  width: 85%;
  padding: 5px;
}

.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   
   img {
     max-width: 100%;
     max-height:100%;
   }
   
   .text {
     font-size: 70px;
   }
